*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 62.5%;
}
body{
    background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/b8e09d9c-d1e7-4800-afd9-810e41ace684/073d28b5-54f7-4f70-a4cc-833775e34b32/PE-es-20210607-popsignuptwoweeks-perspective_alpha_website_medium.jpg');
}
.login{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
.login__container {
    width: 500px;
    height: 600px;
    display: flex;
    background-color: black;
    flex-direction: column;
    align-items: center;
    opacity: 0.9;
    border-radius: 10px;
}
.login__container h1{
    font-size: 2.4rem;
    color: white;
    padding: 30px;
}
.login__container--form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__container--form .input{
    width: 25vw;
    height: 50px;
    font-size: 1.4rem;
    margin-bottom: 20px;
    background-color: #333;
    border: none;
    border-radius: 5px;
    padding: 10px;
}
.login__container--form .button{
    width: 25vw;
    height: 50px;
    background-color: #e50914;
    color: white;
    font-weight: 600;
    font-size: 2.0rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.login__container--form .complemento{
    width: 25vw;
    display: flex;
    justify-content: space-between;
    color:white;
    align-self: flex-start;
    padding: 20px 0;
    align-items: center;
}
.login__container--form .complemento label {
    font-size: 1.4rem;
 
}
.login__container--form .complemento label input {
    margin-right: 5px;
}
.login__container--form .complemento a{
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
}
.login__container--form .complemento a:hover{
    text-decoration: underline;
}
.login__container--social-media{
    display: flex;
    color: white;
    width: 25vw;
    height: 30px;
    justify-content: flex-start;
    align-items: center;
}
.login__container--social-media div img{
    width: 30px;
    margin-right: 10px;
}
.login__container--social-media div{
    font-size: 1.4rem;
    display: flex;
    align-items: center;

}
.login__container--register{
    color: white;
    font-size: 1.4rem;
    padding: 20px 0 ;
    justify-content: flex-start;
}

.login__container--register .suscribirse  {
    text-decoration: none;
    color: white;
}
.login__container--register .suscribirse:hover{
    text-decoration: underline;
}
.login__container--register .mas-info {
    color: #0071eb;
    text-decoration: none;
}
.login__container--register .mas-info:hover{
    text-decoration: underline;
}

.footer{
    display: flex;
    width: 100%;
    height: 400px;
    background-color: black;
    flex-direction: column;
    justify-content: space-around;
    opacity: 0.8;

}
.footer p{
    color: white;
    font-size: 2.4rem;
    margin-left: 80px;
}
footer p a {
    color: #0071eb;
    text-decoration: none;
}
footer p a:hover{
    text-decoration: underline;
}
.footer .footer--links-information{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 2.4rem;
}
.footer .footer--links-information .item {
    display: flex;
    flex-direction: column;
   
}
.footer .footer--links-information .item a{
    text-decoration: none;
}
.footer .footer--links-information .item a:hover{
    text-decoration: underline;
}
.footer .footer--links-information a{
    color: white;
}
.footer .lenguage {
    width: 100px;
    height: 50px;
    margin-left: 80px;
}